<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}Artemis{% endblock %}</title>

    <link href="assets/bootstrap.css" rel="stylesheet" />
    <script src="assets/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>

    {% block head %}

    {% endblock %}

</head>

<body class="artemis {% block bodyclasses %}{% endblock %}">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <a href="/" class="navbar-brand"><img src="assets/artemis-plate.png" class="logo"  height="100" alt="Artemis" /></a>
    <button class="navbar-toggler" type="button" data-toggle="slide-collapse" data-target="#navbarHolder" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarHolder">
      <ul class="nav navbar-nav">
        {% for item in ["Pointers", "Settings"] %}
          <li class="nav-item">
            <a class="nav-link" href="#{{ item|lower }}/">{{ item }}</a>
          </li>
        {% endfor %}
      </ul><!-- /.navbar-nav -->
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container-fluid" id="main_content_wrapper">
    <div class="row">
      <!-- main column -->
      <main class="main col-md-7 col-lg-6 order-md-2  {% block mainclasses %}{% endblock %}" role="main" id="main_content_body">
          {% block main %}{% endblock %}
      </main>

      <!-- Left sidebar last so it's at the end for mobile -->
      <aside class="sidebar col-md-5 col-lg-3 p-0 order-md-1" role="complementary">
          {% block left_sidebar %}
          {% endblock %}
      </aside>
    </div><!--/.row (main layout)-->
  </div>

</body>
</html>
